@import "../../../index.scss";

.header {
  background-color: $yellow;
}

.searchInput {
  background-color: $white;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  border: 0;
  color: $darkgrey;
  font-size: $medium;
  height: 40px;
  outline: 0;
  padding: 7px 60px 9px 15px;
  width: 100%;
}

.search-btn {
  background-color: $lightgrey;
  background-image: none;
  border: 0;
  cursor: pointer;
  height: 40px;
  padding: 8px;
  position: absolute;
  right: 5px;
  top: 0;
  width: 50px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  &:focus {
    outline: 0;
  }
}

.icon-search {
  background-image: url("../../../assets/ic_Search.png");
  background-repeat: no-repeat;
  height: 16px;
  width: 16px;
  margin: 0 auto;
}
